    <link rel="stylesheet" href="/static/css/forgotPass.css">

    <form class="otp-form" action="/users/change" method="post">
        <h4 class="title">Change Password</h4>

        <input class="password-field" type="password" name="password" placeholder="Password" required>
        <input class="password-field" type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <input class="submit-btn" type="submit" value="Change">
    </form>

    <script src=""></script>