    <div class="filter">
        <select class="filter-menu" name="filter" required>
            <option value="" selected disabled hidden>Choose an option</option>
            <option value="Most Popular">Most Popular</option>
            <option value="20000;50000">₹20,000 - ₹50,000</option>
            <option value="50000;80000">₹50,000 - ₹80,000</option>
            <option value="80000;300000">₹80,000 - ₹3,00,000</option>
        </select>
        <button class="filter-btn" type="submit" onclick="filterOption()">Filter</button>
    </div>
