    <link rel="stylesheet" href="/static/css/home.css">

    <!-- hero section start -->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>NEXT GENERATION</h1>
                <h2>TECHNOLOGY</h2>
                <p>See what makes us different.</p>
                <button class="main__btn" onclick="location.href = '/builds/'"><a href="/builds/all">Get Started</a></button>
            </div>
            <div class="main__img--container">
                <img src="/static/img/pic1.svg" alt="pic" id="main__img">
            </div>
        </div>
    </div>

    <!-- services section start-->
    <div class="services">
        <h1>See what the hype is about</h1>
        <div class="services__container">
            <div class="services__card">
                <h2>Experience bliss</h2>
                <p>AI Powered Technology</p>
                <button><a href="/builds/">Get Started</a></button>
            </div>
            <div class="services__card services__card_2">
                <h2>Are you Ready?</h2>
                <p>Take the leap</p>
                <button><a href="/builds/">Get Started</a></button>
            </div>
        </div>
    </div>

    <script src="/static/js/home.js"></script>