    <link rel="stylesheet" href="/static/css/login.css">




        <div class="header">

            Welcome to Level Up


        </div>
        <div class="header">
            <strong>
                LOGIN
            </strong>
        </div>
        <form class="login-form" action="">
            <div class="email-div">
                <!--                    <label form="Email">Email</label>-->
                <i class="fa fa-user"></i>
                <input class="email" placeholder="Username" name="email" type="text">
            </div>
            <div class="password-div">
                <!--                     <label form="Password">Password</label>-->
                <i class="fa fa-lock"></i>
                <input class="password" type="password" placeholder="Password" name="password">
            </div>
            <div class="login-div">
                <input type="button" value="Login">
                <br>
                <a class="forgot-link" href="/users/forgot">
            Forgot Password ?
                </a>

            </div>
        </form>




        <% if (messages.alreadyExists) { %>
            <p class="error-message">*<%= messages.alreadyExists %></p>
        <% } else if (messages.successUser) { %>
            <p class="success-message">*<%= messages.successUser %></p>
        <% } else if (messages.noUser) { %>
            <p class="error-message">*<%= messages.noUser %></p>
        <% } else if (messages.incorrectPass) { %>
            <p class="error-message">*<%= messages.incorrectPass %></p>
        <% } %>


    <script src=""></script>
