    <link rel="stylesheet" href="/static/css/signup.css">

    <div class="signup-form">
        <form action="/users/newUser" method="post">
            <h1>Sign Up</h1>
            <label for="name"></label>
            <label for="email"></label>
            <label for="password"></label>
            <input type="text" placeholder="Full Name" class="txtb" name="name" id="name">
            <input type="email" placeholder="Email" class="txtb" name="email" id="email">
            <input type="password" placeholder="Password" class="txtb" name="password" id="password">
            <input type="password" placeholder="Confirm Password" class="txtb" name="confirmPassword" id="password">
            <input type="submit" value="Create Account" class="signup-btn">

            <% if (messages.noMatch) { %>
                <p class="error-message">*<%= messages.noMatch %></p>
            <% } %>
        </form>
    </div>

    <script src=""></script>