    <link rel="stylesheet" href="/static/css/signup.css">
     <div class="header" ><b>Welcome to Level UP</b></div>

               <form class="login-form" action="/users/newUser" method="post">
                <div class="email-div">
<!--                    <label form="Email">Email</label>-->
                    <i class="fa fa-user"></i>
                    <input class="email" type="text" placeholder="Username" name="email" id="email">
                </div>
                <div class="password-div">
<!--                     <label form="Password">Password</label>-->
                    <i class="fa fa-lock"></i>
                    <input class="password"  type="password" placeholder="Password" name="password" id="password">
                </div>
                    <div class="password-div">
<!--                     <label form="Password">Password</label>-->
                    <i class="fa fa-lock"></i>
                    <input class="password" type="pplaceholder="Confirm Password" name="confirmPassword" id="password">
                </div>
                   <div class="submit">
                       <input type="submit" value="Sign Up">

                   </div>




            <% if (messages.noMatch) { %>
                <p class="error-message">*<%= messages.noMatch %></p>
            <% } %>
        </form>


    <script src=""></script>