*
{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-drag: none;
}

body
{
    height: 100vh !important;
}

.filter
{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
}

.filter-menu
{
    width: 40%;
    height: 60%;
    background-color:  #EB4B4B;
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-menu:active, .filter-menu:focus, .submit-btn:active, .submit-btn:focus
{
    outline: none;
}

.filter-btn
{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    background-color: #EB4B4B;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.range
{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 7%;
    color: #FFF;
    text-align: center;
}

.range-heading
{
    color: #1D2228;
    text-align: center;
}

.all-cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FFF;
    margin-top: 3%;
}

.card
{
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF !important;
    outline: none;
    /*background-color: #1D2228 !important;*/
    border-radius: 20px !important;
    background: -webkit-linear-gradient(to right, #001119, #3b426e) !important;
    background: linear-gradient(to right, #001119, #3b426e) !important;
}

.avatar
{
    width: 80%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 5%;
}

.product-price
{
    margin-bottom: 5%;
}

.viewmore-btn
{
    background-color:  #EB4B4B;
    padding: 3%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #FFF;
}

.empty-block
{
    margin-top: 10%;
}

.title
{
    margin-top: 1%;
}

.nothing-here
{
    width: 40%;
    height: 40%;
    align-self: center;
    margin-top: -5%;
    margin-bottom: -5%;
}

.animated
{
    animation: 1.5s fadeInPlace ease-in-out;
}

.page-no
{
    width: 15%;
    height: 10%;
    margin-top: 3%;
    margin-left: 42.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageCircle
{
    width: 7%;
    height: 25%;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.pageCircle:active, .pageCircle:focus
{
    outline: none;
    border: none;
}

@keyframes fadeInPlace
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}